{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}



{% endblock %}

{% block navbar %}


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MicroBlog</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/index">Home</a></li>
      <li><a href="/login">Sign in </a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}