{% extends 'base.html' %}

{% block content %}

    <h1>&lt Projects &gt</h1>
    <hr>

    <div id='proj-div'>
        <ul>
            <li class = 'proj'>
                <h4>Quora Question-Pairs Similarity: </h4>
                <a href = '/proj_quora'>Try it</a>
            </li>
            <br>
            <li class = 'proj'>
                <h4>Stackoverflow Tag Prediction: </h4>
                <a href = '/proj_stackoverflow'>Try it</a>

            </li>
        </ul>

    </div>

{% endblock %}